<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @work.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @work.desc %>
</p>

<% if @work.name == "一個圖片"%>
<div class="text-center">
  <h1 class="m-3">一個圖片</h1>
  <input type="text" id="input" class="img-link w-50" />
  <div class="m-5">
    <button type="button" class="btn btn-primary">
      送出
    </button>
  </div>
  <div id="img-container" class="m-5 row">
  </div>
</div>

<% end %>
<%= link_to 'Edit', edit_work_path(@work) %> | 
<%= link_to 'Back', works_path %>
